body{
    background-color: lightgray;
}

.big-title{
    font-size: 3em;
    color: black;
    font-family: cursive;
    font-weight: 700;
}

.padding-30{
    padding: 30px;
}


.classOne{
    color: blue;
}

.classTwo{
    color: purple;
}